.menu-bar {
	-fx-background-color: #424242;
}

.menu-bar .label {
	-fx-text-fill: #FFFFFF;
}

.context-menu {
	-fx-background-color: #424242;
}

.split-pane .split-pane-divider {
	-fx-background-color: #424242;
}

.table-view .column-header-background {
	-fx-background-color: #424242;
}

.table-view .column-header-background .label {
	-fx-background-color: transparent;
	-fx-text-fill: #FFFFFF;
}

.table-view .column-header {
	-fx-background-color: transparent;
}

.table-view .table-cell {
	-fx-text-fill: #FFFFFF;
}

.table-view .scroll-bar:horizontal .track,
.table-view .scroll-bar:vertical .track {
	-fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-background-radius: 0;
	-fx-border-radius: 2;
}

.table-view .scroll-bar:horizontal .increment-button,
.table-view .scroll-bar:horizontal .decrement-button {
	-fx-background-color: transparent;
	-fx-background-radius: 0;
	-fx-padding: 0 0 10 0;
}

.table-view .scroll-bar:vertical .increment-button,
.table-view .scroll-bar:vertical .decrement-button {
	-fx-background-color: transparent;
	-fx-background-radius: 0;
	-fx-padding: 0 0 10 0;
}

.table-view .scroll-bar .increment-arrow,
.table-view .scroll-bar .decrement-arrow {
	-fx-shape: " ";
	-fx-padding: 0;
}

.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:vertical .thumb {
	-fx-background-color: #000000;
	-fx-background-insets: 2 0 0;
	-fx-background-radius: 2;
}

.table-row-cell {
	-fx-background-color: -fx-table-cell-border-color, #616161;
}

.table-row-cell:odd {
	-fx-background-color: -fx-table-cell-border-color, #424242;
}

.table-row-cell:selected {
	-fx-background-color: #005797;
}

.button {
	-fx-background-color: #424242;
	-fx-background-radius: 0;
}

.button:hover {
	-fx-background-color: #616161;
}